.next
node_modules
.env
.env.local
.env.*.local
coverage
dist
out
.turbo
.vercel
.swc
*.tsbuildinfo
*.log
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
tmp/
output/
